# Copy this file to a new file named '.env' and populate your real tokens.
# DO NOT commit the '.env' file to your Git repository.
HF_TOKEN=your_huggingface_token_here
WANDB_API_KEY=your_wandb_api_key_here